body {
    background-color: lightblue;
}

#sidebar {
    margin-top: 10px;
}


#categories {
    margin-top: 10px;
}

#main {
    margin-align: left;
    margin-top: 25px;
    margin-left: 3%;
    width: 75%;
}

h1 {
    text-align: left;
    color: #343a40;
}
