body {
    background-color: lightblue;
}

#sidebar {
    margin-top: 10px;
}


#categories {
    margin-top: 10px;
}

#main {
    margin-top: -365px;
    margin-left: 300px;
    width: 80%
}

h1 {
    text-align: left;
    color: #343a40;
}
