{% load static %}
<html lang="en">
    <head>
        {% load static %}
        <link href="http://cdn.pydata.org/bokeh/release/bokeh-1.4.0.min.css" rel="stylesheet" type="text/css">
        <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.4.0.min.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/app.css' %}">
        <script src="http://cdn.pydata.org/bokeh/release/bokeh-1.4.0.min.js"></script>
        <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.4.0.min.js"></script>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384–7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>
        {{ script | safe }}
    </head>
<body>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Git Efforts</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'bokeh' %}">Charts</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'days' %}">Days</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'show_user_repo' %}">Users repo</a>
                </li>

            </ul>


        </nav>
        <div class="container-fluid">
            <div class="row">
                <!-- Side Bar -->
                <div class="col-sm-2">
                    <div class="card my-4 bg-dark text-white" id="sidebar">
                        <h5 class="card-header">About</h5>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <ul class="list-unstyled mb-0">
                                        <li>
                                            <a href="#">News </a>
                                            <a href="#">Social</a>
                                            <a href="#">Contact</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card my-4 bg-dark text-white" id="categories">
                        <h5 class="card-header">Categories</h5>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <ul class="list-unstyled mb-0">
                                        <li>
                                            <a href="#">Social</a>
                                            <a href="#">Finance</a>
                                            <a href="#">Blockchain</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                                    <!-- Main Content -->
                <div class="col-lg" id="main">
                    {% block content %}
						{{ div | safe }}
                    <form method="POST">
                        {% csrf_token %}
                        <!--<a href="{% url 'favorites' %}">Click</a>-->
                        <button type="submit">Dodaj do ulubionych</button>
                    </form>

                    {% endblock %}

        </div>

</body>
</html>