{% extends 'bokeh.html' %}

{% block content %}

    {% for k,values in repositorys.items %}
    <div class="d-inline p-2 bg-primary text-white">Autor: {{ k }} Repozytoria: </div>
        {% for v in values %}
        {% if website == 'github' %}
        <span class="d-block p-2 bg-dark text-white">
            <a href="//github.com/{{ k }}/{{ v }}/">{{ v }}</a>
        </span>

        {% elif website == 'gitlab' %}
            <br><a href="//gitlab.com/{{ k }}/{{ v }}">{{ v }}</a>

        {% elif website == 'bitbucket' %}
            <br><a href="//bitbucket.org/{{ k }}/{{ v }}/src/master/">{{ v }}</a>
        {% endif %}
            <!--{{ v }}-->
        {% endfor %}
    {% endfor %}
{% endblock %}